% include('header.html', title='API')
<h3>API</h3>

<p>iRO2-Status-API features a simple and open json api to add the Ragnarok Online 2 server status into your own projects! Some basic knowledge of json and scripting is all you need to get started.</p>

<p>To start using the API, do a POST request at http://status.niceboat-guild.com and parse the json string. The output should look like this:</p>

<pre><code>[{"Status": "online", "Name": "Patch", "Address":"patch.playragnarok2.com", "Source": "Redis", "Time": "2015-09-15 16:11:18 PDT", "Port": 80, "Log": false},
{"Status": "online", "Name": "Login", "Address": "login.playragnarok2.com", "Source": "Redis", "Time": "2015-09-15 16:11:19 PDT", "Port": 7101, "Log": false},
{"Status": "online", "Name": "Odin", "Address": "128.241.94.47", "Source": "Redis", "Time": "2015-09-15 16:11:19 PDT", "Port": 7204, "Log": false},
{"Status": "online", "Name": "Freyja", "Address": "128.241.94.49", "Source": "Redis", "Time": "2015-09-15 16:11:19 PDT", "Port": 7204, "Log": false}]
</code></pre>

<p>Each server has its own object containing:</p>

<table>
<thead>
<tr>
  <th align="left">Key</th>
  <th align="left">Type</th>
  <th align="left">Value</th>
</tr>
</thead>
<tbody>
<tr>
  <td align="left"><strong>Status</strong></td>
  <td align="left"><em>string</em></td>
  <td align="left">"online" or "offline".</td>
</tr>
<tr>
  <td align="left"><strong>Name</strong></td>
  <td align="left"><em>string</em></td>
  <td align="left">name of the server.</td>
</tr>
<tr>
  <td align="left"><strong>Address</strong></td>
  <td align="left"><em>string</em></td>
  <td align="left">IP/DNS address of the server.</td>
</tr>
<tr>
  <td align="left"><strong>Source</strong></td>
  <td align="left"><em>string</em></td>
  <td align="left">"Redis" cache or new "Socket".</td>
</tr>
<tr>
  <td align="left"><strong>Time</strong></td>
  <td align="left"><em>string</em></td>
  <td align="left">time of the last socket status.</td>
</tr>
<tr>
  <td align="left"><strong>Port</strong></td>
  <td align="left"><em>integer</em></td>
  <td align="left">port of the server.</td>
</tr>
<tr>
  <td align="left"><strong>Log</strong></td>
  <td align="left"><em>boolean</em></td>
  <td align="left">if a status change is logged.</td>
</tr>
</tbody>
</table>
% include('footer.html')
