% include('header.html', title='Status')
		<h3>Status</h3>
		<p>Status is automatically refreshed every {{ ttl }} seconds.</p>
		<ul id="status-ajax">
			<li>Loading...</li>
		</ul>
		<h3>Log</h3>
		<table>
			<thead>
				<tr>
					<th>Time</th>
					<th>Server</th>
					<th>Status</th>
					<th>Ping</th>
				</tr>
			</thead>
			<tbody id="log-ajax">
				<tr>
					<td colspan="4"><p>No logs available...</p></td>
				</tr>
			</tbody>
		</table>
		<script>
			refresh_status();
			refresh_log();
		</script>
% include('footer.html')
