<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="iRO2 Server Status">

		<title>Status</title>

		<script src="/static/status.js"></script>
		<link rel="stylesheet" href="/static/status.css">
	</head>

	<body id="status">
		<h3>iRO2 Server Status</h3>
		<p>Status is auto-updated every {{ ttl }} seconds.</p>
		<ul id="status-ajax">
			<li>Loading...</li>
		</ul>
		<table>
			<thead>
				<tr>
					<th>Time</th>
					<th>Server</th>
					<th>Status</th>
					<th>Ping</th>
				</tr>
			</thead>
			<tbody id="log-ajax">
				<tr>
					<td colspan="4">No logs available...</td>
				</tr>
			</tbody>
		</table>
		<a href="/log">view full log</a>
		<script>
			refresh_status();
			refresh_log();
		</script>
	</body>
</html>
