% include('header.html', title='Log')
	<body id="status">
		<h3>Log</h3>
		<p>Full log is not automatically updated.</p>
		<table>
			<thead>
				<tr>
					<th>Time</th>
					<th>Server</th>
					<th>Status</th>
					<th>Ping</th>
				</tr>
			</thead>
			<tbody>
			%for log in logs:
				<tr class="{{ log['Status'] }}">
					<td>{{ log['Time'] }}</td>
					<td>{{ log['Name'] }}</td>
					<td>{{ log['Status'] }}</td>
					<td>{{ log['Ping'] }}</td>
				</tr>
			%end
			</tbody>
		</table>
% include('footer.html')
