<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="iRO2 Server Status">

		<title>Log</title>

		<style>
			#status .online strong { color: #090; }
			#status .offline strong { color: #900; }
			#status .unknown strong { color: #999; }
			#status td,th { text-align: left; padding: 0 10px 0 0;}
		</style>
	</head>

	<body id="status">
		<h3>Log</h3>
		<p>Full log is not automatically updated.</p>
		<table>
			<thead>
				<tr>
					<th>Time</th>
					<th>Server</th>
					<th>Status</th>
					<th>Ping</th>
				</tr>
			</thead>
			<tbody>
			%for log in logs:
				<tr>
					<td>{{ log['Time'] }}</td>
					<td>{{ log['Name'] }}</td>
					<td>{{ log['Status'] }}</td>
					<td>{{ log['Ping'] }}</td>
				</tr>
			%end
			</tbody>
		</table>
		<a href="/">return to status</a>
	</body>
</html>
